<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Click2Easy</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<header>
<br>
  <div class="main">
    <div class="logo">
      <img src="logo.png">
    </div>
    <ul>
      <li><a href="home1.html">Home</a></li>
      <li class="active"><a href="#">Portfolio</a></li>
      <li><a href="#">Photographers</a></li>
      <li><a href="#">Book Us</a></li>
      <li><a href="#">My Account</a></li>
      <li><a href="#">Admin</a></li>
    </ul>
    </div></br></br></br>
  </br></br></br>
  <div class="tables">
<table border="1" align="center" >
    <tr>
        <td><img src="img/portfolio/1.jpg" width="300"></td>
        <td><img src="img/portfolio/2.jpg" width="300"></td>
        <td><img src="img/portfolio/3.jpg" width="300"></td>
        <td><img src="img/portfolio/4.jpg" width="300"></td>
    </tr>
    <tr>
        <td><img src="img/portfolio/5.jpg" width="300"></td>
        <td><img src="img/portfolio/6.jpg" width="300"></td>
        <td><img src="img/portfolio/7.jpg" width="300"></td>
        <td><img src="img/portfolio/8.jpg" width="300"></td>
    </tr>
    <tr>
        <td><img src="img/portfolio/9.jpg" width="300"></td>
        <td><img src="img/portfolio/10.jpeg" width="300"></td>
        <td><img src="img/portfolio/11.jpg" width="300"></td>
        <td><img src="img/portfolio/12.jpeg" width="300"></td>
    </tr>
    <tr>
        <td><img src="img/portfolio/13.jpg" width="300"></td>
        <td><img src="img/portfolio/14.jpg" width="300"></td>
        <td><img src="img/portfolio/15.png" width="300"></td>
        <td><img src="img/portfolio/16.jpg" width="300"></td>
    </tr>
</table>
  </div>s
</div>
</header>

</body>
</html>
