<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Click2Easy</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<header>
  <div class="main">
    <div class="logo">
      <img src="logo.png">
    </div>
    <ul>
      <li class="active"><a href="#">Home</a></li>
      <li><a href="Gallery.html">Portfolio</a></li>
      <li><a href="#">Photographers</a></li>
      <li><a href="#">Book Us</a></li>
      <li><a href="#">My Account</a></li>
      <li><a href="#">Admin</a></li>
    </ul>
  </div>
</div></br></br></br>
  <div class="pimg1">
    <div class="ptext">
      <span class="border">
        Wedding Ceremonies
      </span>
    </div>
  </div>

  <section class="section section-dark">
    <h2>Dan and Marisa</h2>
    <p>
      Thank you so much for everything you did for us at our wedding. You and Annette were an indispensable source of knowledge on the day of, and events leading up to the wedding, in addition to providing us with amazing photos. Photography isn't something we would have prioritized had we been left to our own devices, but now we see what a mistake that would have been. And although we are both very private people, sharing those special moments with the two of you, and trusting your professional judgement, yielded some awesome results. Thank you for being there to preserve our memories, it truly means the world to us now. With Gratitude
    </p>
  </section>

  <div class="pimg2">
    <div class="ptext">
      <span class="border trans">
        Birthday Parties
      </span>
    </div>
  </div>

  <section class="section section-dark">
    <h2>The Israelski Family</h2>
    <p>
      We LOVE LOVE the photos!!! You are an amazing photographer and person. We are so lucky to have found you and have you in our lives. Your photos are precious and even more, you are a most wonderful person to have at our events! We have the family photo up and our family is just amazed at how fast you pulled that together! Countless numbers of guests complimented you over and over again! I could write on and on.
    </p>
  </section>

  <div class="pimg3">
    <div class="ptext">
      <span class="border trans">
        Retirements
      </span>
    </div>
  </div>

  <section class="section section-dark">
    <h2>Sandy V. (Mother's Retirement Party)</h2>
    <p>
      Klick2easy photographer was incredibly good at putting everyone at ease and getting them to smile genuine smiles. Unbelievably, my oldest daughter, whose eyes are closed in almost every picture I take of her, has her eyes wide open in all but one of hundreds of photos photographer took. And he even got my mother to smile with her teeth visible (probably the first time I've ever seen that on film). The images are beautiful and the moments captured just perfect. It's hard to believe that these are unedited. I will have a very hard time selecting among the photos to make an album. I'm dreading having to make choices! Oh, and I was totally stunned by the gorgeous photo Jeff printed and framed in time for our evening celebration! I love it and have already hung it on the wall. Jeff just goes above and beyond. If he isn't available on the date my youngest is assigned for her bat mitzvah, we will have to change synagogues to obtain a date that works for him!
    </p>
  </section>

  <div class="pimg1">
    <div class="ptext">
      <span class="border">
        KLICK2EASY
      </span></br></br></br>
      <p>Please visit our Instagram handle see more images</p>
    </div>
  </div>
</header>

</body>
</html>
